<div
  class="bg-white py-8 px-16 rounded-md grid grid-cols-[2fr_1fr] gap-8 shadow-md"
>
  <div class="grid grid-cols-2 gap-6">
    <div class="flex flex-col">
      <p>Nombre del proyecto</p>
      <input type="text" class="border border-gray-300 rounded-md p-2" />
    </div>

    <div class="flex flex-col">
      <p>Precio</p>
      <input
        type="text"
        class="border border-gray-300 rounded-md p-2"
        value="$12.500.000"
      />
    </div>

    <div class="flex flex-col">
      <p>Fecha de inicializaci&oacute;n</p>
      <input type="date" class="border border-gray-300 rounded-md p-2" />
    </div>

    <div class="flex flex-col">
      <p>Fecha de finalizaci&oacute;n</p>
      <input type="date" class="border border-gray-300 rounded-md p-2" />
    </div>

    <div class="flex flex-col">
      <p>Constructora</p>
      <input
        type="text"
        class="border border-gray-300 rounded-md p-2"
        value="Constructora Bolivar S.A"
      />
    </div>

    <div class="flex flex-col">
      <p>Proveedor</p>
      <input
        type="text"
        class="border border-gray-300 rounded-md p-2"
        value="No hay proveedor"
      />
    </div>

    <div class="flex flex-col">
      <p>Descripción</p>
      <textarea
        name=""
        id=""
        cols="20"
        rows="5"
        class="border border-gray-300 rounded-md p-2"
      ></textarea>
    </div>

    <div class="flex flex-col gap-4">
      <div class="flex items-center gap-1">
        <p>Items del proyecto</p>
        <button class="rounded-md">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="red"
            class="w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 10.5v6m3-3H9m4.06-7.19-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.5.379a1.5 1.5 0 0 1-1.06-.44Z"
            />
          </svg>
        </button>
      </div>

      <ul class="flex gap-2">
        <li
          class="flex bg-red-400 p-2 rounded-md gap-1 items-center hover:cursor-pointer"
        >
          <span class="text-sm text-white font-secondary font-bold"
            >Cemento</span
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="white"
            class="w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </li>
        <li
          class="flex bg-red-400 p-2 rounded-md gap-1 items-center hover:cursor-pointer"
        >
          <span class="text-sm text-white font-secondary font-bold"
            >Concreto</span
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="white"
            class="w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </li>
      </ul>
    </div>
  </div>

  <div class="flex flex-col gap-8 items-center">
    <div class="w-full grid grid-cols-2 justify-self-center">
      <img
        src="https://picsum.photos/200/300"
        alt="project"
        class="object-contain rounded-md"
      />
      <img
        src="https://picsum.photos/200/300"
        alt="project"
        class="object-contain rounded-md"
      />
    </div>

    <button
      class="bg-red-400 rounded-md text-white py-2 px-4 font-bold font-secondary"
    >
      Adjuntar imagen
    </button>
  </div>
</div>

<div class="flex gap-4 justify-center mt-4 place-items-center">
  <button
    class="bg-red-400 rounded-md text-white py-2 px-4 font-bold font-secondary"
  >
    Guardar
  </button>
  <button
    class="bg-slate-400 rounded-md text-white py-2 px-4 font-bold font-secondary"
  >
    Cancelar
  </button>
</div>
