<div class="sidebar flex flex-col bg-red-500 h-full p-4">
  <h1 class="pl-2 text-2xl font-main uppercase font-bold text-white">
    {{ businessName }}
  </h1>
  <hr class="my-3 bg-white opacity-50" />

  <a
    routerLink="/me"
    class="pr-12 flex gap-2 items-center hover:cursor-pointer hover:bg-neutral-50 hover:bg-opacity-10 p-2 rounded-sm"
  >
    <img
      src="https://picsum.photos/200/300"
      alt="profile"
      class="rounded-full w-8 h-8"
    />
    <h2 class="font-secondary text-base font-medium text-white">
      {{ name.length > 10 ? name.slice(0, 10) + "..." : name }} ({{ role }})
    </h2>
  </a>

  <hr class="my-3 bg-white opacity-50" />

  <ul class="font-main font-bold text-white flex gap-2">
    <li
      class="w-full hover:cursor-pointer hover:bg-neutral-50 hover:bg-opacity-10 p-2 rounded-sm"
    >
      <a routerLink="/all-projects" class="flex gap-4 items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="white"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z"
          />
        </svg>

        <span>Proyectos</span>
      </a>
    </li>
  </ul>
</div>
