<div class="flex mb-6 justify-between items-center">
  <h1 class="text-xl text-slate-900 font-bold font-main tracking-tight">
    Proyectos
  </h1>

  <a
    routerLink="/dashboard/new-project"
    class="bg-red-400 rounded-md text-white py-2 px-4 font-bold font-secondary flex gap-1"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="white"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"
      />
    </svg>

    Nuevo Proyecto
  </a>
</div>

<div class="flex flex-col gap-4">
  <app-project-card
    (click)="openProject(project)"
    *ngFor="let project of projects"
    [project]="project"
  ></app-project-card>
</div>
